<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drone.imavis">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <permission
            android:name="your.package.name.permission.MAPS_RECEIVE"
            android:protectionLevel="signature" />

        <uses-permission android:name="your.package.name.permission.MAPS_RECEIVE" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

        <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
        <uses-feature android:name="android.hardware.location.gps" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <!--
            <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        -->


        <!-- LoginActivity -->
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.flyplan.mvc.view.listener.GPSTracker" />

        <!--
        <activity
            android:name=".map.MapsActivity" />

        <activity
            android:name=".uav.control.activity.BebopActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".uav.control.activity.SkyControllerActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".uav.control.activity.SkyController2Activity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".uav.control.activity.JSActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".uav.control.activity.MiniDroneActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".uav.control.activity.SwingDroneActivity"
            android:screenOrientation="landscape"/>
        -->

        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.PlanCreateActivity" />
        <activity android:name=".activities.PlanWaypointsActivity" />
        <activity
            android:name=".activities.MainFlyplanner"
            android:label="@string/title_activity_main_flyplanner"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>